body {
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 800px;
    font: 75%/120% Arial, Helvetica, sans-serif;
}

a:focus {
    outline: none;
}

#helpPanel {
    background: #F0F8FF;
    height: 200px;
    display: none;
}

.slide {
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 0 ;
    border-top: solid 4px #422410;
    background: url("/recources/img/helpButton.gif") no-repeat center top;
    float: left;
    width: 33%;
}

.slidePanelButton {
    background: url("/recources/img/white-arrow.gif") no-repeat right -50px;
    text-align: center;
    padding: 10px 10px 0 0;
    width: 144px;
    height: 31px;
    margin: 0 auto;
    display: block;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
}

.active {
    background-position: right 12px;
}

#chatMessagesId {
    max-height: 500px;
    min-height: 200px;
    border: solid 3px #76c3dc
}

label, #usernameFieldId, #passwordFieldId, #regUsernameId, #regPasswordId, #colorInputId {
    margin: 0 auto;
    padding: 0;
    display: block;
    color: #0e57b4;
    font-size: 12pt;
    font-weight: bold;
    width: 25%;
}

label {
    color: #b4a83f;
    font-size: 12pt;
    font-weight: bold;
}

.slidePanel {
    margin: 0 auto;
    padding: 0;
    height: 200px;
    display: none;
}

#loginButtonId, #regButtonId, #logoutButton, #loginField {
    margin: 0 auto;
    padding: 0;
    display: block;

}

.chatButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    padding-bottom: 6px;
    margin: 6px 6px 6px 6px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
    width: 70px;
    text-align: center;
}

.chatButton:hover {
    background-color: #dfdfdf;
}

.chatButton:active {
    position: relative;
    top: 1px;
}

label:after {
    content: ": "
}

#expression {
    width: 60%;
    height: auto;
    font-family: helvetica, serif;
    font-size: 10pt;
    color: #4682b4;
}

#expression:focus {
    background-color: #f0f8ff;
}

#calculateBtn {
    float: right;
    text-align: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    font: bold 10pt Arial, Helvetica, sans-serif;
    color: #4682b4;
}

#messageTextArea {
    border: solid 2px #76c3dc;
    width: 650px;
    max-width: 650px;
    float: left;
    overflow-x: scroll;
    overflow-y: scroll;

}

.username {
    font : bold 12pt Arial, Helvetica, sans-serif;
     width: 80px;
    display: inline-block;

}

.date {
    display: inline-block;
    font: italic 12pt Arial, Helvetica, sans-serif;
}
.messageText {
    display: inline-block;
    font: normal 11pt Arial, Helvetica, sans-serif;
}



