body {
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: auto;
    max-width: 800px;
    font: 75%/120% Arial, Helvetica, sans-serif;
}

a:focus {
    outline: none;
}

a:hover{
}

#logout{
    height:auto;
}

#helpPanel {
    background: #F0F8FF;
    height: 200px;
    display: none;
}

.slide {
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 0;
    border-top: solid 4px #422410;
    background: url("/recources/img/helpButton.gif") no-repeat center top;
    float: left;
    width: 25%;
}

.slidePanelButton {
    background: url("/recources/img/white-arrow.gif") no-repeat right -50px;
    text-align: center;
    padding: 10px 10px 0 0;
    width: 144px;
    height: 31px;
    margin: 0 auto;
    display: block;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
}

.active {
    background-position: right 12px;
}

#chatMessagesId {
    max-height: 400px;
    min-height: 300px;
    border-bottom: solid 5px #e0e6e3;
    overflow-y: scroll;
    min-width: 85%;
    max-width: 85%;
    float: left;
}

label, input  {
    margin: 0 auto;
    padding: 0;
    display: block;
    color: #0e57b4;
    font-size: 12pt;
    font-weight: bold;
    width: 25%;
}
#chatFieldId {
    width: auto;
}


label {
    color: #b4a83f;
    font-size: 12pt;
    font-weight: bold;
}

.slidePanel {
    margin: 0 auto;
    padding: 0;
    height: 200px;
    display: none;
}

#sendMessageBtn {
    display: inline-block;
}

.chatButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    color: #777777;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
    width: 70px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.chatButton:hover {
    background-color: #dfdfdf;
}

.chatButton:active {
    position: relative;
    top: 1px;
}

.inputLabel:after {
    content: ": "
}

#expression:focus {
    background-color: #f0f8ff;
}

#messageTextArea{
    border: solid 2px #76C3dC;
    min-width : 65%;
    overflow-y: scroll;
    max-width: 85%;
}

#userListId{
    border-top: solid 5px #e0e6e3;
    max-height: 400px;
    overflow: auto;
    min-width: 15%;
    float: left;
}

.username {
    font: bold 10pt Arial, Helvetica, sans-serif;
    width: 15%;
    display:  inline-block;
}

.date {
    font: bold 10pt Arial, Helvetica, sans-serif;
    display:  inline-block;
    position: relative;
}

.messageText  {
    font: normal 10pt Arial, Helvetica, sans-serif;
    display:  inline-block;
}

.messageBlock {
    display: block;
    max-width: 80%;
}

#resolveFieldId {
    text-align: center;
    font: bold 14pt Arial, Helvetica, sans-serif;
}



